html {
  height: 100%;
  /* max-height: 600px; */
  width: 100%;
  background-color: hsla(200,40%,30%,.4);
  background-image:   
    url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'), 
    url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
    /* clouds   */
    
  
  background-repeat: repeat-x;
  background-position: 
    0 20%,
    0 100%,
    0 50%,
    0 100%,
    0 0;
  background-size: 
    2500px,
    800px,
    500px 200px,
    1000px,
    400px 260px;
  animation: 50s para infinite linear;

  cursor: url("components/media/mickeypointer.png"), auto;
  }

  a {
    cursor: url("components/media/mickeyhand.png"), pointer;
  }

@keyframes para {
  100% {
    background-position: 
      -5000px 20%,
      -800px 95%,
      500px 50%,
      1000px 100%,
      400px 0;
    }
  }

.landing-grind{
  background: none;  
  text-align: center;
  color:black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects {
  display: flex;
}

.projects img{
  height:40%;
  width:40%;
}


/* contact page css */

.banner-text {
  color: black;
  opacity: .8;
  height: 100vh;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: black;
}

.banner-text hr {
  border-top: 5px solid black;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: black;
  font-size: 5em;
  padding: 8px;
}